<!-- 

<div class="container mt-5 d-flex justify-content-center">
    <div class="row custom-wrapper">
        <h1 class="h4">
            Registrar consumidor.
        </h1>
        <p class="text-muted">
            Gracias por registrar al consumidor. Aquí está su información de desarrollador. Por favor guárdela en un lugar seguro.
        </p>
        <small class="text-muted">
            Por favor guárdela en un lugar seguro.
        </small>
        <div id="pdfTable"  #pdfTable *ngIf="(consumer$ | async) as consumer">
            <div class="row mt-2">
                <div class="fw-bold col">Consumer ID</div> 
                <div class="col">{{consumer.consumerId}}</div> 
            </div>
            
            <div class="row mt-2">
                <div class="fw-bold col">Tipo de Applicación</div> 
                <div class="col">{{consumer.applicationType}}</div> 
            </div>
            <div class="row mt-2">
                <div class="fw-bold col">Nombre de la Applicación</div> 
                <div class="col">{{consumer.applicationName}}</div> 
            </div>
            <div class="row mt-2">
                <div class="fw-bold col">URL de redirección</div> 
                <div class="col">{{consumer.applicationName}}</div> 
            </div>     
            <div class="row mt-2">
                <div class="fw-bold col">Email del desarrollador</div> 
                <div class="col">{{consumer.developerEmail}}</div> 
            </div>  
            <div class="row mt-2">
                <div class="fw-bold col">Descripción de la app</div> 
                <div class="col">{{consumer.description}}</div> 
            </div> 
            <div class="row mt-2">
                <div class="fw-bold col">Certificado del cliente</div> 
                <div class="col">{{consumer.clientCertificate}}</div> 
            </div>
            <div class="row mt-2">
                <div class="fw-bold col">Key consumidor</div> 
                <div class="col">{{consumer.consumerKey}}</div> 
            </div>
            <div class="row mt-2">
                <div class="fw-bold col">Secret consumidor</div> 
                <div class="col">{{consumer.consumerSecret}}</div> 
            </div>    
            
        </div>
        <button class="btn btn-primary" (click)="downloadAsPDF();">Export To PDF</button>
    </div>
</div> -->

<div class="container d-flex justify-content-center">
    <div>
        <div class="row custom-wrapper" >
            <h1 class="h4">
                Registrar consumidor.
            </h1>
            <p class="text-muted">
                Gracias por registrar al consumidor. Aquí está su información de desarrollador. Por favor guárdela en un lugar seguro.
            </p>
            <small class="text-muted">
                Por favor guárdela en un lugar seguro.
            </small>

            <div id="pdfTable" #pdfTable>
  
                <table  class="table"  *ngIf="(consumer$ | async) as consumer">
                    <tbody>
                    <tr>
                        <td class="fw-bold">Consumer ID</td>
                        <td>{{consumer.consumerId}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Tipo de Applicación</td>
                        <td>{{consumer.applicationType}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Nombre de la Applicación</td>
                        <td>{{consumer.applicationName}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">URL de redirección</td>
                        <td>{{consumer.redirectUrl}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Email del desarrollador</td>
                        <td>{{consumer.developerEmail}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Descripción de la app</td>
                        <td>{{consumer.description}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Certificado del cliente</td>
                        <td>{{consumer.clientCertificate}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Nombre de la Applicación</td>
                        <td>{{consumer.applicationName}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Key consumidor</td>
                        <td>{{consumer.consumerKey}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Secret consumidor</td>
                        <td>{{consumer.consumerSecret}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary" (click)="downloadAsPDF();">Exportar a PDF</button>
        </div>

    </div>
  </div>