<div class="container d-flex justify-content-center">
    <div>
        <div class="row custom-wrapper" >
            <h1 class="h4">
                Registrar consumidor.
            </h1>
            <p class="text-muted">
                Gracias por registrar al consumidor. Aquí está su información de desarrollador. Por favor guárdela en un lugar seguro.
            </p>
            <small class="text-muted">
                Por favor guárdela en un lugar seguro.
            </small>

            <div id="pdfTable" #pdfTable>

                <table  class="table"  *ngIf="(consumerResponse$ | async) as consumer">
                    <tbody>
                     <tr>
                        <td class="fw-bold">Consumer ID</td>
                        <td>{{consumer.consumerId}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Tipo de Applicación</td>
                        <td>{{consumer.applicationType}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Nombre de la Applicación</td>
                        <td>{{consumer.applicationName}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">URL de redirección</td>
                        <td>{{consumer.redirectUrl}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Correo del desarrollador</td>
                        <td>{{consumer.developerEmail}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Descripción de la app</td>
                        <td>{{consumer.applicationDescription}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Certificado del cliente</td>
                        <td>{{consumer.clientCertificate}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Llave pública del consumidor</td>
                        <td>{{consumer.consumerKey}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Llave secreta del consumidor</td>
                        <td>{{consumer.consumerSecret}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Id de cliente Oauth2</td>
                        <td>{{consumer.oauth2ClientId}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Redirección Oauth2</td>
                        <td>{{consumer.oatuh2Redirect}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Alcance cliente Oauth2</td>
                        <td>{{consumer.oauth2CllientScope}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Algoritmo Jws Oauth2</td>
                        <td>{{consumer.oauth2JwsAlg}}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Llave privada Jws Oauth2</td>
                        <div>
                            <td>{{consumer.oauth2JwsPk}}</td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
  </div>
