.checkbox-control {
  font-size: .85em;

  a {
    display: block;
    color: #000;
    margin-bottom: .5em;
  }

  input {
    position: relative;
    top: .1em;
  }
}

@media only screen and (min-width: 768px) {
  .custom-wrapper {
    max-width: 400px
  }
}