.custom-wrapper {
    max-width: 80vw;
}

.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input, textarea) {
    outline: 2px solid rgb(218, 64, 64);
}



@media only screen and (min-width: 768px) {
    .custom-wrapper {
        max-width: 40vw;
    }
}

