

<div class="container mt-5 d-flex justify-content-center">
    <div class="row custom-wrapper">
        <h1 class="h4">
            Registrar consumidor.
        </h1>
        <p class="text-muted">
            Por favor rellene todos los campos requeridos sobre su aplicación, para crear su OAuth key y secret.
        </p>
        <small class="text-muted">
            Todos los campos son requeridos a menos que estén marcados como 'opcional'.
        </small>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
            <div class="d-grid">
                <label class="form-label mt-4" for="selectApplicationType">Tipo de Aplicaci&oacute;n</label>
                <select 
                    class="form-select mb-3" 
                    formControlName="selectApplicationType" 
                    id="selectApplicationType"
                    (change)="changeApplicationType($event)"
                >
                    <option value="" disabled selected hidden>--- Seleccione el tipo de aplicaci&oacute;n ---</option>
                    <option *ngFor="let type of applicationTypes">
                        {{ type }}
                    </option>
                </select>
                <label class="form-label mt-3" for="applicationName">Nombre de la Aplicaci&oacute;n</label>
                <input class="form-control" type="text" formControlName="applicationName" id="applicationName" required>
                <app-form-error-container [forControl]="applicationName">
                    <app-form-error-msg forErrorCode="required"></app-form-error-msg>
                </app-form-error-container>
                <label class="form-label mt-3" for="redirectUrl">Redireccionar a URL (Opcional)</label>
                <input class="form-control" type="text" formControlName="redirectUrl">
                <label class="form-label mt-3" for="developerEmail">Email del desarrollador</label>
                <input class="form-control" type="text" formControlName="developerEmail" required>
                <app-form-error-container [forControl]="developerEmail">
                    <app-form-error-msg forErrorCode="required"></app-form-error-msg>
                    <app-form-error-msg forErrorCode="email"></app-form-error-msg>
                </app-form-error-container>
                <label class="form-label mt-3" for="description">Descripci&oacute;n de la aplicaci&oacute;n</label>
                <textarea class="form-control" formControlName="description" required name="description" id="description" rows="5"></textarea>
                <app-form-error-container [forControl]="description">
                    <app-form-error-msg forErrorCode="required"></app-form-error-msg>
                </app-form-error-container>
                <label class="form-label mt-3" for="company">Compa&ntilde;ia</label>
                <input class="form-control" type="text" formControlName="company" required>
                <app-form-error-container [forControl]="company">
                    <app-form-error-msg forErrorCode="required"></app-form-error-msg>
                </app-form-error-container>
                <button type="submit" class="btn btn-primary btn-block mt-5" [disabled]="registerForm.invalid">
                    Registrar Consumidor
                </button>
            </div>
        </form>
    </div>
</div>